<%= image_tag "clorecoTop01.jpg" %>

<h2>収納管理</h2>

<p><%= link_to "収納場所の作成", new_storage_path %></p>

<ul>
    <% @storages.each do |storage| %>
    <li>
        <%= link_to storage.title, storage_path(storage.id) %>
        <%= link_to "[編集]", edit_storage_path(storage.id) %>
        <%= link_to "[削除]", storage_path(storage.id),method: :delete,
                         data: {confirm: "are you sure"} %>

    </li>
    <% end %>
</ul>

