<p><%#= link_to "収納", new_storage_path %></p>
<p><%= button_to "収納の追加", new_storage_path, :class => "button", :method => :get  %></p>


<% @storages.each do |storage| %>
  <div class="container">
　　  <div class="col-md-3">
       <img class="img-responsive" src=<%= storage.url %> width="300" height="300" alt="" />
       <p>
       <%= link_to "[編集]", edit_storage_path(storage.id) %>
       <%= link_to "[削除]", storage_path(storage.id),method: :delete,
                         data: {confirm: "are you sure"} %>
       </p>
    </div>
    <div class="col-md-9">
    <p><b>アイテム名  :</b>nike dunk hi<br><b>サイズ :</b>28inch<b><br>カラー :</b>navy<br>
         <b>購入場所  :</b>メルカリ<br><b>購入時期  :</b>2014/11/22<br>
    </p>
    </div>
    <p>
    <%= link_to "[編集]", edit_storage_path(storage.id) %>
    <%= link_to "[削除]", storage_path(storage.id),method: :delete,
                         data: {confirm: "are you sure"} %>
    </p>
  </div>
<% end %>